#!/bin/bash

## Most, if not all, of these environment variables will need to be
## customized to match your running environment.
export ENSEMBLE_DIR=/data/software/ots-ensemble-systems
export ENSEMBLE_CONDA=/data/software/anaconda3/envs/ensemble-py3.8
export ETUDE_DIR=/data/software/etude
export ETUDE_CONDA=/data/software/anaconda3/envs/etude
export CONFIG_DIR=/data/software/etude-engine-configs

export TASK=2009_i2b2_medications

export I2B2_2009_DIR=/data/i2b2_corpora/2009_i2b2_challenge_medications

## I2B2_2009_DIR
## |-- test_annotations/
##     `-- converted.noduplicates.sorted/
##         |-- 106650.<team names>.m
##         |-- ...
##         `-- 995723.<team names>.m
## |-- test_corpus/
##     |-- 101427
##     |-- ...
##     `-- 997311
## |-- training_annotations/
##     |-- 11995_gold.entries
##     |-- ...
##     `-- 379569_gold.entries
## |-- training_corpus/
##     |-- 1/
##     |   |-- 106886
##     |   |-- ...
##     |   `-- 360326
##     |-- ...
##     `-- 10/
## `-- team_submissions/top_subs/
##     |-- Aronson_NLM_1
##     |-- ...
##     `-- Zweigenbaum_Limsi_1

export RESULT_DIR=/data/experiments/ots-ensemble-paper
export RESULT_FILE=${RESULT_DIR}/${TASK}/${TASK}_results.csv

mkdir -p "${RESULT_DIR}/${TASK}"

echo "Method	Classifiers	MatchFlag	Recall	Precision	F1	MinVote" \
     > ${RESULT_FILE}

## RESULT_DIR/2009_i2b2_medications
## |-- 2009_i2b2_medications_results.csv
## |-- etude
## |   |-- voting_1_1.log
## |   |-- voting_1_2.log
## |   |-- voting_1_3.log
## |   |-- ...
## |   |-- voting_1_123.log
## |   |-- ...
## |   |-- voting_2_123.log
## |   |-- ...
## |   `-- voting_3_123.log
## `-- merged
## |   |-- consolidated.xmi
## |   |-- ...
## |   `-- files.xmi
## `-- voting
##     |-- processed.xmi
##     |-- ...
##     `-- files.xmi

export MERGED_OUT=${RESULT_DIR}/${TASK}/merged
mkdir -p "${MERGED_OUT}"

export REF_DIR=${RESULT_DIR}/${TASK}/ref
mkdir -p "${REF_DIR}"

mkdir -p ${RESULT_DIR}/${TASK}/etude

## Merge the oracle/reference annotation with the above classifiers to
## generate a single input corpus for the meta-classifier ensemble
## system to read in
${ENSEMBLE_CONDA}/bin/python3 \
    ${ENSEMBLE_DIR}/medspaCy/i2b2-2009-medications-converter.py \
    --input-text ${I2B2_2009_DIR}/test_corpus \
    --input-ref ${I2B2_2009_DIR}/test_annotations/converted.noduplicates.sorted \
    --input-systems ${I2B2_2009_DIR}/team_submissions/top_subs \
    --output-dir ${MERGED_OUT}


## Create a reference corpus in the same format
${ENSEMBLE_CONDA}/bin/python3 \
    ${ENSEMBLE_DIR}/medspaCy/oracle-ensemble.py \
    --types-dir ${ENSEMBLE_DIR}/types \
    --input-dir "${MERGED_OUT}" \
    --voting-unit span \
    --ref-dir ${REF_DIR}

export METHOD=voting
export MINVOTES=1
for CLASSIFIERS in {1..10}
do
    export SYS_DIR=${RESULT_DIR}/${TASK}/${METHOD}/${MINVOTES}_${CLASSIFIERS}
    mkdir -p ${SYS_DIR}

    ## Simple voting ensemble system
    ${ENSEMBLE_CONDA}/bin/python3 \
        ${ENSEMBLE_DIR}/medspaCy/voting-ensemble.py \
        --types-dir ${ENSEMBLE_DIR}/types \
        --input-dir "${MERGED_OUT}" \
        --voting-unit span \
        --classifier-list ${CLASSIFIERS} \
        --min-votes ${MINVOTES} \
        --overlap-strategy rank \
        --zero-strategy drop \
        --output-dir ${SYS_DIR}

     ${ETUDE_CONDA}/bin/python3 ${ETUDE_DIR}/etude.py \
      --reference-conf ${CONFIG_DIR}/uima/ensemble_note-nlp_xmi.conf \
      --reference-input ${REF_DIR} \
      --test-conf ${CONFIG_DIR}/uima/ensemble_note-nlp_xmi.conf \
      --test-input ${SYS_DIR} \
      --file-suffix ".xmi" \
      --fuzzy-match-flags exact partial \
      --metrics TP FP FN TN Recall Precision F1 \
      > ${RESULT_DIR}/${TASK}/etude/${METHOD}_${MINVOTES}_${CLASSIFIERS}.log

    export EXACT_RECPRECF1=`grep micro ${RESULT_DIR}/${TASK}/etude/${METHOD}_${MINVOTES}_${CLASSIFIERS}.log | cut -f 6- | head -n 1 | tr '\n' '\t'`
    export PARTIAL_RECPRECF1=`grep micro ${RESULT_DIR}/${TASK}/etude/${METHOD}_${MINVOTES}_${CLASSIFIERS}.log | cut -f 6- | tail -n 1 | tr '\n' '\t'`
    
    echo "${METHOD}	${CLASSIFIERS}	Exact	${EXACT_RECPRECF1}${MINVOTES}" \
        >> ${RESULT_FILE}
    echo "${METHOD}	${CLASSIFIERS}	Partial	${PARTIAL_RECPRECF1}${MINVOTES}" \
        >> ${RESULT_FILE}
done
